{
   "env": {
      "browser": true,
      "node": true
   },
   "extends": ["@nuxtjs/eslint-config-typescript", "plugin:nuxt/recommended"],
   "rules": {
      "vue/multi-word-component-names": "off",
      "vue/no-multiple-template-root": "off",
      "vue/singleline-html-element-content-newline": "off",
      "vue/html-indent": "off",
      "eol-last": "off",
      "semi": "off",
      "func-call-spacing": "off",
      "space-before-function-paren": "off",
      "indent": "off",
      "import/named": "off",
      "comma-dangle": "off",
      "arrow-parens": "off",
      "curly": "off"
   }
}
