{
   "root": true,
   "env": {
      "browser": true,
      "es2022": true,
      "node": true
   },
   "extends": ["@nuxtjs/eslint-config-typescript", "plugin:nuxt/recommended"],
   "parserOptions": {
      "ecmaVersion": "latest",
      "parser": "@typescript-eslint/parser",
      "sourceType": "module"
   },
   "plugins": ["@typescript-eslint", "vue", "nuxt"],
   "rules": {
      "vue/multi-word-component-names": "off",
      "vue/no-multiple-template-root": "off",
      "vue/singleline-html-element-content-newline": "off",
      "vue/html-indent": "off",
      "eol-last": "off",
      "semi": "off",
      "func-call-spacing": "off",
      "space-before-function-paren": "off",
      "indent": "off",
      "import/named": "off",
      "comma-dangle": "off",
      "arrow-parens": "off",
      "curly": "off",
      "vue/html-self-closing": [
         "error",
         {
            "html": {
               "void": "always",
               "normal": "any",
               "component": "always"
            }
         }
      ]
   }
}
